
article {
  min-height: 100vh;
  background-color: #f9f7f7;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.p-title {
  margin: 0;
  padding: 7px 0;
  background-color: #0058a0;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  a {
    color: #fff;
    font-size: 32px;
    text-decoration: none;
  }
}
.p-sub_title {
  margin: 45px 0 35px;
  font-size: 25px;
}

section {
  padding: 52px 0 100px;
}

// ナビゲーション
.p-contents_nav {
  width: unquote("min(94%, 500px)");
  margin: auto;
  list-style: none;
  padding: 0;
  li+li {
    margin-top: 20px;
  }
}
.p-contents_nav_link {
  display: block;
  text-decoration: none;
  line-height: 26px;
  padding: 25px 0;
  color: rgb(34, 34, 34);
  transition: all .1s linear;
  background-color: #fff;
  border-radius: 5px;
  &:hover {
    color: rgba(34, 34, 34, .7);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
  }
}
.p-contents_nav_nome {
  border: 1px solid #4dbf80;
  display: block;
  width: 115px;
  padding: 10px 0;
  color: #fff;
  background-color: #4dbf80;
  text-decoration: none;
  margin: 20px auto 0;
  font-weight: bold;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
    background-color: rgba(77, 191, 128, .9);
  }
}

.p-contents_area {
  width: unquote("min(94%, 1000px)");
  margin: 0 auto 70px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  &.about {
    padding: 4%;
    text-align: left;
  }
  &.work {
    width: unquote("min(48%, 480px)");
    margin: 0;
    padding: 20px;
    @media screen and (max-width: 414px) {
      width:100%;
      &+.work {
        margin-top: 20px;
      }
    }
  }
}

// home
.home_description {
  margin: 60px 0 40px;
}

// about
.about_title {
  font-weight: bold;
  font-size: 19px;
  margin: 0 0 7px;
}
.about_description {
  margin: 0;
}
.about_note {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  font-size: 13px;
  display: block;
  span {
    text-decoration: underline;
  }
}
.about_note_title {
  font-size: 14px;
  display: block;
}
hr {
  margin: 35px 0;
  border-top: 1px solid #eee;
  border-width: 1px 0 0 0;
}

 // skill
.skill_title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}
.skill_list {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0;
  justify-content: center;
  margin: 0;
  li {
    list-style: none;
    width: calc(100% /3);
    @media screen and (max-width: 530px) {
      width: 50%;
    }
  }
}
.skill_detail {
  width: 89%;
  margin: 0 auto 40px;
  font-size: 15px;
  color: rgb(34, 34, 34);
  text-align: left;

}
// 強み
.strong_point {
  text-align: left;
  width: unquote("min(90%,800px)");
  margin: auto;
  line-height: 1.7;
  padding: 10px 0 30px 20px;
  li+li {
    margin-top: 7px;
  }
}


// work
.work_contents_wrap {
  display: flex;
  width: unquote("min(94%, 1000px)");
  margin: 0 auto 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work_title {
  text-align: left;
  font-weight: bold;
}
.work_description {
  text-align: left;
}