section {
  text-align: center;
  background-color: #EFEFEF;
  padding-bottom: 100px;
}
.title {
  margin: 0;
  font-size: 32px;
  padding: 7px 0;
  background-color: #222;
  color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.ContentsList {
  width: unquote("min(90%, 500px)");
  margin: auto;
  list-style: none;
  padding: 100px 0 0;
}
.ContentsItem {
  background-color: #fff;
  border-radius: 5px;
  transition: all .1s linear;
  &+.ContentsItem {
    margin-top: 20px;
  }
  &:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
  }
}
.ContentsItemLink {
  display: block;
  text-decoration: none;
  line-height: 26px;
  padding: 25px 0;
  color: rgb(34, 34, 34);
  &:hover {
    color: rgba(34, 34, 34, .5);
  }
}
 // skill
.skill_wrap {
  width: unquote("min(94%, 1000px)");
  margin: 100px auto 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 0;
}
.skill_list {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0;
  justify-content: center;
  margin: 0;
  li {
    list-style: none;
    width: unquote("max(150px, calc(100% /3))");
  }
}
.skill_detail {
  width: 82%;
  margin: 0 auto 40px;
  font-size: 15px;
  color: rgb(34, 34, 34);

}